<div class="login-box">
  <div class="login-logo">
    <img src="assets/img/logo.png" alt="GEP" height="42" width="42"/><a style="color: #fff;"><b style="color: #337ab7;">G</b>EP</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Entre para iniciar sua sessão</p>

    <form [formGroup]="formLogin" (ngSubmit)="login(); $event.preventDefault()">
      <div
        [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': (formLogin.controls.email.errors && formLogin.controls.email.dirty), 'has-success': !formLogin.controls.email.errors}">
        <input formControlName="email" type="email" class="form-control" placeholder="Email" name="email" autocomplete="off" autofocus>
        <span class="help-block" *ngIf="formLogin.controls.email.errors && formLogin.controls.email.dirty">Campo
          obrigátorio</span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div
        [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': (formLogin.controls.senha.errors && formLogin.controls.senha.dirty), 'has-success': !formLogin.controls.senha.errors}">
        <input formControlName="senha" type="password" class="form-control" placeholder="Password" name="senha" autocomplete="off">
        <span class="help-block" *ngIf="formLogin.controls.senha.errors && formLogin.controls.senha.dirty">Campo
          obrigátorio</span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4"><br>
          <button [disabled]="formLogin.invalid" type="submit"
            class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form><br>

    <a href="#" data-toggle="modal" data-target="#modal-default">Esqueci a minha senha</a><br>

  </div>
  <!-- /.login-box-body -->
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Recuperação de Senha</h4>
      </div>
      <form [formGroup]="formSenha" (ngSubmit)="forgot(); $event.preventDefault()">
        <div class="modal-body">
          <div
            [ngClass]="{'form-group': true, 'has-error': (formSenha.controls.email.errors && formSenha.controls.email.dirty), 'has-success': !formSenha.controls.email.errors}">
            <label class="col-sm-2 control-label" for="email">E-mail: </label>
            <div class="col-sm-10">
              <input formControlName="email" class="form-control" type="email" placeholder="Email" autocomplete="off">
              <span class="help-block" *ngIf="formSenha.controls.email.errors && formSenha.controls.email.dirty">Campo
                obrigátorio</span>
            </div>
          </div>
          <br />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" [disabled]="formSenha.invalid">Solicitar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>