<p-dataView #dv [value]="items" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="brand"
    [sortField]="sortField" [sortOrder]="sortOrder" emptyMessage="Sua lista de trocas está vazia">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <h3>Total: {{total()}}</h3>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative; text-align: center">
                        <button label="Itens" pButton type="button" icon="pi pi-plus" (click)="goOn()"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-item pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="assets/img/{{item.produto.imagem}}.png" width="50">
            </div>
            <div class="ui-g-12 ui-md-8 car-details">
                <div class="ui-g">

                    <div class="ui-g-2 ui-sm-6">Nome: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{item.produto.nome}}</b></div>

                    <div class="ui-g-2 ui-sm-6" for="site">Motivo: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <select *ngIf="item.motivo == '' " name="motivo" class="form-control" [(ngModel)]="motivo"
                            style="max-width: 180px">
                            <option *ngFor="let s of motivos" [value]="s.name">{{s.name}}</option>
                        </select>
                        <span>{{item.motivo}}</span>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Nº INC: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <input *ngIf="item.numeroChamado == '' " class="form-control input-sm" name="numeroChamado"
                            type="text" [(ngModel)]="numeroChamado" style="max-width: 180px">
                        <span>{{item.numeroChamado}}</span>
                        <i *ngIf="item.numeroChamado == '' " (click)="chamado(item.produto)" class="pi pi-check-circle"
                            style="font-size: 2em; color:#34A835;"></i>

                    </div>

                    <div *ngIf="item.numeroChamado != '' " class="ui-g-2 ui-sm-6">QTD: </div>

                    <div *ngIf="item.numeroChamado != '' " class="ui-g-10 ui-sm-6">
                        <i (click)="decreaseItem(item.produto)" class="nolinebreak pi pi-minus-circle"
                            style="font-size: 2em; color:#34A835;"></i>
                        <div class="nolinebreakQTD">
                            <p>{{item.quantidade}}</p>
                        </div>
                        <div *ngIf="item.quantidade != item.produto.quantidade">
                            <i (click)="increaseQuantity(item.produto)" class="nolinebreak pi pi-plus-circle"
                                style="font-size: 2em; color:#34A835;"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ui-g-12 ui-md-1">
                <i (click)="removeItem(item.produto)" class="pi pi-trash" style="font-size: 2em; color:#e91224;"></i>
            </div>
        </div>
    </ng-template>
    <p-footer>
        <button *ngIf="total() > 0" label="Próximo" pButton type="button" (click)="nextPage()"
            class="ui-button-success" icon="pi pi-arrow-right"></button>
    </p-footer>
</p-dataView>