<p-dataView #dv [value]="items" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="brand" [sortField]="sortField"
    [sortOrder]="sortOrder">
    <ng-template let-item pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="assets/img/prod{{item.produto.codigo}}.png" width="100">
            </div>
            <div class="ui-g-12 ui-md-8 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Código: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{item.codigo}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Nome: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{item.produto.nome}}</b></div>

                    <div class="ui-g-2 ui-sm-6">QTD: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{item.produto.quantidade}}</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-1 search-icon">
                <button label="Adicionar" pButton type="button" icon="pi pi-plus" (click)="selectValor($event, valor)"></button>
            </div>
        </div>
    </ng-template>
</p-dataView>
