<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="ui-helper-clearfix">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Escolha o Cliente"
              (onChange)="graficoBarra($event)" [style]="{'max-width':'150px'}"></p-dropdown>
              
          </div>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="chart">
        <p-chart type="bar" [data]="barChart" [options]="options" [responsive]="true"></p-chart>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</div>