<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Estoque de Produto</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <p-chart type="horizontalBar" [data]="barChartData" [options]="options" [responsive]="true" height="500px" width="500px"></p-chart>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Estoque por Categoria</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <p-chart type="bar" [data]="barChartDataV" [options]="options" [responsive]="true" height="500px"></p-chart>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>