<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffffff" type="ball-newton-cradle"></ngx-spinner>

<app-header *ngIf="showTemplate"></app-header>
<app-menu [hidden]="!showTemplate"></app-menu>

<div [ngClass]="showContentWrapper()" style="height: auto; min-height: 600px;">

    <section class="content">
        <p-messages></p-messages>
        <router-outlet></router-outlet>
        <div class="row">

        </div>
    </section>
</div>

<app-footer *ngIf="showTemplate"></app-footer>