<app-header></app-header>
<app-menu></app-menu>

<div class="content-wrapper">


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Resumo</h3>

                        <h4>Float Label</h4>
                        <span class="ui-float-label">
                            <input id="float-input" type="text" size="30" pInputText>
                            <label for="float-input">Username</label>
                        </span>

                        <h3>Message Service</h3>
                        <button type="button" pButton (click)="showViaService()" label="Use Service"></button>

                        <h3>Inline Message CSS</h3>
                        <p>CSS helpers to display inline messages mostly within forms.</p>
                        <p-message severity="info" text="PrimeNG Rocks"></p-message>
                        <p-message severity="success" text="Record Saved"></p-message>
                        <p-message severity="warn" text="Are you sure?"></p-message>
                        <p-message severity="error" text="Field is required"></p-message>

                        <div style="margin-top:30px">
                            <input type="text" pInputText placeholder="Username" class="ng-dirty ng-invalid">
                            <p-message severity="error" text="Field is required"></p-message>
                        </div>

                        <div style="margin-top:30px">
                            <input type="text" pInputText placeholder="Email" class="ng-dirty ng-invalid">
                            <p-message severity="error"></p-message>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



<app-footer></app-footer>