<p-card header="Confirmação de Troca" styleClass="ui-card-shadow" *ngIf="!codTroca">
  <p-header>
  </p-header>

  <div *ngFor="let item of cartItems" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
    <div class="container">
      <div class="row">
        <div class="col col-lg-2"><img src="assets/img/{{item.produto.imagem}}.png" width="100"></div>
        <div class="col col-lg-2">
          <h4>{{item.produto.nome}}</h4>
        </div>
        <div class="col col-lg-2">
          <h5>QTD: {{item.quantidade}}</h5>
        </div>
        <div class="col col-lg-2">
          <h5>Nº Inc: {{item.numeroChamado}}</h5>
        </div>
        <div class="col col-lg-2">
          <h5>Motivo: {{item.motivo}}</h5>
        </div>
      </div>
    </div>
  </div>
  <p-footer>
    <h3>Total: </h3>
    <h4>{{total()}}</h4>
  </p-footer>
</p-card>
<br />
<p-card header="Usuário" styleClass="ui-card-shadow" *ngIf="!codTroca">
  <p-header>

  </p-header>

  <div>
    <h4>{{usuario?.nome}}</h4>
    <h5>{{usuario?.matricula}}</h5>
    <h5>{{usuario?.email}}</h5>

  </div>

  <p-footer>
    <button (click)="backCart()" pButton type="button" label="Voltar no Carrinho" icon="pi pi-arrow-left"
      style="margin-right: .25em"></button>
    <button (click)="checkout()" pButton type="button" label="Salvar" icon="pi pi-check" style="margin-right: .25em"
      class="ui-button-success"></button>
  </p-footer>
</p-card>

<p-card *ngIf="codTroca">
  <p-footer>
    <button (click)="backHome()" pButton type="button" label="Página Inicial" icon="pi pi-check"
      style="margin-right: .25em"></button>
  </p-footer>
</p-card>