<p-dataView #dv [value]="items" [paginator]="true" [rows]="4" paginatorPosition="both" filterBy="brand" [sortField]="sortField"
    [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <button label="Voltar" pButton type="button" icon="pi pi-arrow-left"
                    (click)="backCategorias()"></button></div>
                <div class="ui-g-6 ui-md-4 filter-container"></div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-valor pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="assets/img/prod{{valor?.codigo}}.png" width="100">
            </div>
            <div class="ui-g-12 ui-md-8 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Código: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{valor?.codigo}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Nome: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{valor?.nome}}</b></div>

                    <div *ngIf="valor?.quantidade !=0 " class="ui-g-2 ui-sm-6">QTD: </div>
                    <div *ngIf="valor?.quantidade !=0 " class="ui-g-10 ui-sm-6"><b>{{valor?.quantidade}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Site: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{valor?.site.nome}}</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-1 search-icon">
                <button *ngIf="valor?.quantidade !=0 " label="Adicionar" pButton type="button" icon="pi pi-plus"
                    (click)="addToCart(valor)"></button>
                <p *ngIf="valor?.quantidade == 0" style="color:#e91224;">Produto Indisponível</p>
            </div>
        </div>
    </ng-template>
    <ng-template let-valor pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="valor?.nome" [style]="{'text-align':'center'}">
                <img src="assets/img/prod{{valor?.codigo}}.png" width="60">
                <div *ngIf="valor?.quantidade !=0 " class="car-detail">QTD - {{valor?.quantidade}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <button *ngIf="valor?.quantidade !=0" label="Adicionar" pButton type="button" icon="pi pi-plus" (click)="selectValor($event, valor)"
                    style="margin-top:0"></button>
                <p *ngIf="valor?.quantidade == 0" style="color:#e91224;">Produto Indisponível</p>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>