<div class="box box-primary" style="max-width: 600px;">
  <div class="box-header with-border">
    <h3 class="box-title">Cadastrar Produtos</h3>

    <form [formGroup]="formulario" class="form-horizontal" (ngSubmit)="salvar(); $event.preventDefault()" style="padding: 10px">

      <div class="box-body">

        <div [ngClass]="getFromGroupClass(formulario.controls.nome.errors, formulario.controls.nome.dirty)">
          <label class="col-sm-2 control-label" for="nome">Nome: </label>
          <div class="col-sm-10">
            <input formControlName="nome" id="nome" class="form-control" type="text" placeholder="Nome do Produto">
            <span class="help-block" *ngIf="formulario.controls.nome.errors && formulario.controls.nome.dirty">Campo
              obrigátorio</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(formulario.controls.quantidade.errors, formulario.controls.quantidade.dirty)">
          <label class="col-sm-2 control-label" for="quantidade">Quantidade: </label>
          <div class="col-sm-10">
            <input formControlName="quantidade" id="quantidade" class="form-control" type="text" placeholder="Quantidade do Produto"
              pKeyFilter="int">
            <span class="help-block" *ngIf="formulario.controls.quantidade.errors && formulario.controls.quantidade.dirty">Campo
              obrigátorio</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(formulario.controls.codCategoria.errors, formulario.controls.codCategoria.dirty)">
          <label class="col-sm-2 control-label" for="categoria">Categoria </label>
          <div class="col-sm-10">
            <select formControlName="codCategoria" class="form-control" data-placeholder="Selecione">
              <option *ngFor="let cat of categoria" [value]="cat.codigo">
                {{cat.nome}}
              </option>
            </select>
          </div>
        </div>

      </div>

      <div class="box-footer">
        <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">Cadastrar</button>
      </div>
    </form>
  </div>
</div>