<div class="box box-primary" style="max-width: 600px;">
  <div class="box-header with-border">
    <h3 class="box-title">Cadastrar Sites</h3>

    <form [formGroup]="formulario" (ngSubmit)="salvar(); $event.preventDefault()" class="form-horizontal" style="padding: 10px">

      <div class="box-body">

        <div [ngClass]="getFromGroupClass(formulario.controls.nome.errors, formulario.controls.nome.dirty)">
          <label class="col-sm-2 control-label" for="nome">Nome: </label>
          <div class="col-sm-10">
            <input formControlName="nome" id="nome" class="form-control" type="text" placeholder="Sigla do Site">
            <span class="help-block" *ngIf="formulario.controls.nome.errors && formulario.controls.nome.dirty">Deve conter no mínimo e no máximo 3 caracteres</span>
          </div>
        </div>

      </div>

      <div class="box-footer">
        <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">Cadastrar</button>
      </div>
    </form>
  </div>
</div>