<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">    
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU NAVEGAÇÃO</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Cadastro</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/categorias']"><i class="fa fa-circle-o"></i> Catgeorias</a></li>
          <li><a [routerLink]="['/produto']"><i class="fa fa-circle-o"></i> Produtos</a></li>
          <li><a [routerLink]="['/usuario']"><i class="fa fa-circle-o"></i> Usuários</a></li>
          <li><a [routerLink]="['/sites']"><i class="fa fa-circle-o"></i> Sites</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-table"></i> <span>Registrar</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/trocas']"><i class="fa fa-circle-o"></i> Saida Produto</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a [routerLink]="['/categorias-list']">
          <i class="fa fa-plus-square"></i> <span>Categorias</span>          
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>