<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img class="img-circle" src="assets/img/blank-avatar.png" alt="User profile picture">
      </div>
      <div class="pull-left info">
        <p></p>
        <a href="#">
          <i class="fa fa-circle text-success"></i>
          {{usuario()}}
        </a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU NAVEGAÇÃO</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Cadastro</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="user?.perfis == 'ADMIN'"><a routerLink="categorias"><i class="fa fa-circle-o"></i> Categorias</a>
          </li>
          <li><a routerLink="celulas"><i class="fa fa-circle-o"></i> Células</a></li>
          <li *ngIf="user?.perfis == 'ADMIN' || user?.perfis == 'MODERADOR'"><a routerLink="clientes"><i
                class="fa fa-circle-o"></i> Clientes</a></li>
          <li><a routerLink="produto"><i class="fa fa-circle-o"></i> Produtos</a></li>
          <li *ngIf="user?.perfis == 'ADMIN'"><a routerLink="usuario"><i class="fa fa-circle-o"></i> Usuários</a></li>
          <li *ngIf="user?.perfis == 'ADMIN'"><a routerLink="sites"><i class="fa fa-circle-o"></i> Sites</a></li>
        </ul>
      </li>
      <li class="treeview" *ngIf="user?.perfis == 'ADMIN' || user?.perfis == 'MODERADOR'">
        <a href="#">
          <i class="fa fa-table"></i> <span>Estoque</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/edit-produtos']"><i class="fa fa-circle-o"></i> Lista de Produtos</a></li>
        </ul>
      </li>

      <li class="treeview" *ngIf="user?.perfis == 'ADMIN' || user?.perfis == 'MODERADOR'">
        <a href="#">
          <i class="fa fa-indent"></i> <span>Listas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/trocas']"><i class="fa fa-circle-o"></i> Lista de Trocas</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-line-chart"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/dashboard-trocas']"><i class="fa fa-circle-o"></i>Trocas</a></li>
        </ul>
      </li>

      <li class="treeview" *ngIf="user?.perfis == 'ADMIN' || user?.perfis == 'MODERADOR'">
        <a [routerLink]="['/categorias-list']">
          <i class="fa fa-plus-square"></i> <span>Resgistrar Troca</span>
        </a>
      </li>
      <li class="treeview">
        <a [routerLink]="['/cart']">
          <i class="fa  fa-cart-arrow-down"></i>
          <span>Carrinho de Trocas</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-red">{{total()}}</small>
          </span>
        </a>
      </li>

      <li class="treeview" *ngIf="user?.perfis == 'ADMIN'">
        <a [routerLink]="['/profile']">
          <i class="fa fa-user"></i> <span>Perfil</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>